:root {
      --root-color: #FFF1BD;
      --low-color: #F3C892;;
      --mid-color: #367E18;
      --high-color: #F57328;
      --accent-color: #CC3636;
      --text-color: #614124;
}

* {
      font-family: 'Lato', sans-serif;
      background-color: var(--root-color);
}

/* Formatting for header */
.header {
      position: fixed;
      top: 0;
      width: 100vw;
}

.navbar {
      border: solid 2px var(--mid-color);
      border-radius: 1em;
      background-color: var(--low-color);
}

.navbar-brand {
      background-color: var(--low-color);
}

.logo {
      background-color: var(--low-color);
}

.container-fluid {
      background-color: var(--low-color);
}

.navbar-text {
      background-color: var(--low-color);
}

.navbar-toggler-icon {
      background-color: var(--low-color);
}

.hamburger {
      border: solid 2px var(--mid-color);
      border-radius: .5em;
}

.hamburger:hover {
      transition: 500ms;
      border: solid 2px var(--high-color)
}

.nav-link {
      background-color: var(--low-color);
}

/* Content formatting */
.content {
      max-width: 100vw;
      height: auto;
      padding-top: 4.5rem;
}

.notFound {
      object-fit: contain;
      max-width: 100vw;
      height: auto;
}

/* Footer formatting */
.footer {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 3em;
}