.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3em;
}
.logo {
  transform: scaleX(-1);
}
.notFound {
  object-fit: contain;
  width: 100vw;
  max-height: 100vh;
}